:root {
  /* 主题色Hex值 */
  --tn-color-primary: #409eff;
  --tn-color-primary-light-3: rgb(121.3, 187.1, 255);
  --tn-color-primary-light-5: rgb(159.5, 206.5, 255);
  --tn-color-primary-light-7: rgb(197.7, 225.9, 255);
  --tn-color-primary-light-8: rgb(216.8, 235.6, 255);
  --tn-color-primary-light-9: rgb(235.9, 245.3, 255);
  --tn-color-primary-dark-2: rgb(51.2, 126.4, 204);
  --tn-color-success: #67C23A;
  --tn-color-success-light-3: rgb(148.6, 212.3, 117.1);
  --tn-color-success-light-5: rgb(179, 224.5, 156.5);
  --tn-color-success-light-7: rgb(209.4, 236.7, 195.9);
  --tn-color-success-light-8: rgb(224.6, 242.8, 215.6);
  --tn-color-success-light-9: rgb(239.8, 248.9, 235.3);
  --tn-color-success-dark-2: rgb(82.4, 155.2, 46.4);
  --tn-color-warning: #E6A23C;
  --tn-color-warning-light-3: rgb(237.5, 189.9, 118.5);
  --tn-color-warning-light-5: rgb(242.5, 208.5, 157.5);
  --tn-color-warning-light-7: rgb(247.5, 227.1, 196.5);
  --tn-color-warning-light-8: rgb(250, 236.4, 216);
  --tn-color-warning-light-9: rgb(252.5, 245.7, 235.5);
  --tn-color-warning-dark-2: rgb(184, 129.6, 48);
  --tn-color-danger: #F56C6C;
  --tn-color-danger-light-3: rgb(248, 152.1, 152.1);
  --tn-color-danger-light-5: rgb(250, 181.5, 181.5);
  --tn-color-danger-light-7: rgb(252, 210.9, 210.9);
  --tn-color-danger-light-8: rgb(253, 225.6, 225.6);
  --tn-color-danger-light-9: rgb(254, 240.3, 240.3);
  --tn-color-danger-dark-2: rgb(196, 86.4, 86.4);
  --tn-color-error: #F56C6C;
  --tn-color-error-light-3: rgb(248, 152.1, 152.1);
  --tn-color-error-light-5: rgb(250, 181.5, 181.5);
  --tn-color-error-light-7: rgb(252, 210.9, 210.9);
  --tn-color-error-light-8: rgb(253, 225.6, 225.6);
  --tn-color-error-light-9: rgb(254, 240.3, 240.3);
  --tn-color-error-dark-2: rgb(196, 86.4, 86.4);
  --tn-color-info: #909399;
  --tn-color-info-light-3: rgb(177.3, 179.4, 183.6);
  --tn-color-info-light-5: rgb(177.3, 179.4, 183.6);
  --tn-color-info-light-7: rgb(199.5, 201, 204);
  --tn-color-info-light-8: rgb(232.8, 233.4, 234.6);
  --tn-color-info-light-9:  rgb(243.9, 244.2, 244.8);
  --tn-color-info-dark-2: rgb(115.2, 117.6, 122.4);

  /* 内置颜色Hex值 */
  --tn-color-red: #e83a30;
  --tn-color-red-dark: #ba2e26;
  --tn-color-red-light: #fad8d6;
  --tn-color-red-disabled: #f39c97;
  --tn-color-purplered: #e72f8c;
  --tn-color-purplered-dark: #b9266f;
  --tn-color-purplered-light: #fad5e8;
  --tn-color-purplered-disabled: #f397c5;
  --tn-color-purple: #892fe8;
  --tn-color-purple-dark: #6e26ba;
  --tn-color-purple-light: #e7d5fa;
  --tn-color-purple-disabled: #c497f3;
  --tn-color-bluepurple: #5f4fd9;
  --tn-color-bluepurple-dark: #4c3fae;
  --tn-color-bluepurple-light: #dfdcf7;
  --tn-color-bluepurple-disabled: #afa7ec;
  --tn-color-aquablue: #3646ff;
  --tn-color-aquablue-dark: #2b38cc;
  --tn-color-aquablue-light: #d7daff;
  --tn-color-aquablue-disabled: #9aa2ff;
  --tn-color-blue: #3d7eff;
  --tn-color-blue-dark: #3165cc;
  --tn-color-blue-light: #d8e5ff;
  --tn-color-blue-disabled: #9ebeff;
  --tn-color-indigo: #31c9e8;
  --tn-color-indigo-dark: #27a1ba;
  --tn-color-indigo-light: #d6f4fa;
  --tn-color-indigo-disabled: #98e4f3;
  --tn-color-cyan: #2de8bd;
  --tn-color-cyan-dark: #24ba97;
  --tn-color-cyan-light: #d5faf2;
  --tn-color-cyan-disabled: #96f3de;
  --tn-color-teal: #24f083;
  --tn-color-teal-dark: #1dc069;
  --tn-color-teal-light: #d3fce6;
  --tn-color-teal-disabled: #91f7c1;
  --tn-color-green: #31e749;
  --tn-color-green-dark: #27b93a;
  --tn-color-green-light: #d6fadb;
  --tn-color-green-disabled: #98f3a4;
  --tn-color-yellowgreen: #a4e82f;
  --tn-color-yellowgreen-dark: #82ba26;
  --tn-color-yellowgreen-light: #edfad5;
  --tn-color-yellowgreen-disabled: #d1f397;
  --tn-color-lime: #d5eb00;
  --tn-color-lime-dark: #aabc00;
  --tn-color-lime-light: #f7fbcc;
  --tn-color-lime-disabled: #e9f57f;
  --tn-color-yellow: #fff420;
  --tn-color-yellow-dark: #ccc21a;
  --tn-color-yellow-light: #fffdd2;
  --tn-color-yellow-disabled: #fff88f;
  --tn-color-orangeyellow: #ffca28;
  --tn-color-orangeyellow-dark: #cca220;
  --tn-color-orangeyellow-light: #fff4d4;
  --tn-color-orangeyellow-disabled: #ffe493;
  --tn-color-orange: #ffa726;
  --tn-color-orange-dark: #cc851e;
  --tn-color-orange-light: #ffedd4;
  --tn-color-orange-disabled: #ffd392;
  --tn-color-orangered: #ff7043;
  --tn-color-orangered-dark: #cc5a36;
  --tn-color-orangered-light: #ffe2d9;
  --tn-color-orangered-disabled: #ffb7a1;
  --tn-color-brown: #914f2c;
  --tn-color-brown-dark: #743f23;
  --tn-color-brown-light: #e9dcd5;
  --tn-color-brown-disabled: #c8a795;
  --tn-color-grey: #78909c;
  --tn-color-grey-dark: #5f7e8b;
  --tn-color-grey-light: #e4e9ec;
  --tn-color-grey-disabled: #c6d1d8;
  --tn-color-gray: #aaaaaa;
  --tn-color-gray-dark: #838383;
  --tn-color-gray-light: #f8f7f8;
  --tn-color-gray-disabled: #e6e6e6;

  /* 默认背景颜色 */
  --tn-bg-color: #FFFFFF;
  /* 默认页面背景颜色 */
  --tn-bg-color-page: #F2F3F5;
  /* 默认覆盖层颜色 */
  --tn-bg-color-overlay: #FFFFFF;
  /* 默认mask颜色 */
  --tn-bg-color-mask: rgba(0, 0, 0, 0.5);
  /* 默认字体颜色 */
  --tn-text-color-primary: #303133;
  --tn-text-color-secondary: #909399;
  --tn-text-color-placeholder: #A8ABB2;
  --tn-text-color-disabled: #C0C4CC;
}
